.page-heading {
  color: steelblue;
  padding: 10px;
}

.app {
  background-color: #EFEFEF; 
}

.section-heading {
  color: gray;
  padding-bottom: 4px;
  border-bottom: 1px solid lightgray;
}

.listings-image-block {
  margin: 10px;
  padding: 10px;
}

.listing-title-block {
  display: flex;
  flex-direction: column !important; 
}

.listing-prices {
  /* padding: 10px; */
}

.prices {
  padding: 5px;
}

.listing-title-block {
  padding-left: 20px;
}

.mrp {
  font-size: 14px;
}

.listing-row {
  padding: 10px;
}

.listings-listed {
  width: 100%;
}

.listings-listed div {
  display: flex;
  flex-direction: row;
}

.listing-img {
  height: 100px;
}

.heading-container {
  background-color: #EFEFEF; 
}

.app-container {
  background-color: #EFEFEF;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.listings {
  background-color: white;
  height: 600px;
  width: 940px;
  margin: 10px;
  padding: 10px;
}

.cartDetails {
  width: 480px;
  margin: 10px;
  background-color: white;
  height: 200px;
  padding: 10px;
}